body{
    color: #40514E;
    margin: 0px;
    font-family: 'Merriweather', serif;
    text-align: center;
  }
  
  
  
  h1{
    font-size: 562.5%;   /* 100%=16px */
    /* margin-block-start: 0px;
    width: 10%;
    margin: 0 auto 0 auto;
    padding: 50px; */
  
    /* margin-top: 50px; */
    line-height: 2;
    margin: 20px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF
  
  
  }
  
  h2{
  
    font-family: 'Montserrat', san-serif;
    font-size: 250%;
    color: #66BFBF;
    font-weight: normal;
  }
  
  h3{
    color: #66BFBF;
    font-family: 'Montserrat', san-serif;
    font-size: 200%;
  }
  
  p{
    line-height: 2;
    font-family: 'Montserrat', san-serif;
  
  }
  li{
    line-height: 2;
    font-family: 'Montserrat', san-serif;
  }
  hr{
    border: dotted grey 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
  }
  
  a{
    color: #11999E;
    font-family: 'Montserrat', san-serif;
    /* margin: 10px 20px; */
    text-decoration: none;
  }
  
  a:hover{
    /* color: #EAF6F6; */
    color: black;
  }
  
  .top-container{
    background-color: #E4F9F5;
  
    /* text-align: center; */
    position: relative;
    padding-top: 20px;
  
  }

  .header{
    width:100%;
    height: 50px;
  }

  .header-elements{
    /* float: right; */
    color: #11999E;
    font-family: 'Montserrat', san-serif;
    position: relative;
    display: inline-block;
    font-size: 1.8rem !important;
    /* height: 50px !important; */
    height: 100%;
    width: 12%;
    /* padding-top: 10px; */
    /* margin-left: auto;
    margin-right: 0px; */
    float: right;
    
  }
  .user{
    height: 100px;
    padding-top: 50px;
  }

  .user-name{
    /* float: left; */
    /* margin-left: 100px; */
    color: #11999E;
    font-family: 'Montserrat', san-serif;
    font-size: 2rem;
  }
  
  .T{
    text-decoration: none;
    font-style: italic;
  }
  
  .cloud1{
    position: absolute;
    right: 250px;
    top: 150px;
  
  
  }
  
  .cloud2{
    position: absolute;
    left: 250px;
    bottom: 300px;
  
  }
  
  .middle-container{
    margin: 100px auto 100px auto;
  }
  
  .my-image{
    height: 350px;
    width: 320px;
    border-radius: 50%;
    margin-top: 50px;
  }
  
  .skill-image-coding{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
    margin-top: 40px;
  }
  
  .skill-image-communication{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
  }

  .skill-coding-para{
    /* //display: inline; */
    /* width: 60%; */
  }
  
  .intro{
    font-size: 120%;
    color: #40514E;
    width: 30%;
    margin: 0px auto 0px auto;
    padding-bottom: 20px;
  }
  
  
  .skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    height: 300px;
    /* line-height: 2; */
  }

  .about-project{
    width: 70%;
    margin: 0px auto 0px auto;
  }
  .about-project-heading{
    /* float: left; */
    text-align: left;
    padding-left: 40px;
  }
  .about-project-para-intro{
    width: 100%;
  }
  .about-project-working-para{
    text-align: left;
    padding-left: 40px;
  }
  .about-para-tech{
    text-align: left;
    padding-left: 40px;
  }
  
  .para-contact{
    width: 40%;
    margin: 40px auto 60px auto;
  
  }
  
  
  
    .btn {
      background: #11cdd4;
      background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
      background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
      background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
      background-image: -o-linear-gradient(top, #11cdd4, #11999e);
      background-image: linear-gradient(to bottom, #11cdd4, #11999e);
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      font-family: 'Montserrat', san-serif;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }
  
    .btn:hover {
      background: #30e3cb;
      background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
      background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
      background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
      background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
      background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
      text-decoration: none;
    }
  
  .bottom-container{
    background-color: #66EFEF;
    /* margin: 100px auto 0px auto; */
    padding: 50px 0 20px ;
  
  
  }

  .footer-link{
    margin: 20px;
  }
  
  .copyright{
    color: #EAF6F6;
    padding: 20px 0px;
  }

  

